version: '3'

services:
  planify-server:
    build: ./server
    ports:
      - "5000:5001"
    depends_on:
      - mongo-db
    volumes:
      - ./server:/usr/src/app

  mongo-db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb-data:/data/db

  planify-web:
    build: ./client-web
    ports:
      - "4000:4001"
    volumes:
      - ./client-web:/usr/src/app

  # planify-mobile:
  #   build: ./client-mobile
  #   ports:
  #     - "19000:19000"
  #     - "19001:19001"
  #     - "19002:19002"

volumes:
  mongodb-data:
