.footer {
  background-color: var(--color-bold-gray);
  color: white;
}

.footer:not(:first-child) {
  border-top: 1px solid var(--color-gray)
}

.input-group-text {
  min-height: max-content;
}

.input-group input {
  color: black;
}

.input-group-text button {
  padding: 0.5rem 4rem;
  border-radius: inherit;
}

.footer-links-list {
  display: flex;
  flex-direction: column;
}

.footer-links-list li {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 15px;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}