.header-top-strip {
  border-bottom: 1px solid var(--color-gray);
  background-color: var(--color-black);
}

.header-upper {
  background-color: var(--color-black);
}

.input-group button {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 1px;
  height: inherit;
}

.input-group-text {
  min-height: max-content;
}

.header-upper .input-group-text {
  background-color: var(--color-orange);
}

.header-upper .header-upper-links img {
  width: 35px;
  height: 35px;
}

.header-bottom {
  background-color: var(--color-bold-gray);
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu {
  background-color: var(--color-bold-gray);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
}

.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-gray);
}

.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-orange) !important;
}