* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #131921;
  --color-gray: #3B4149;
  --color-orange: #FEBD69;
  --color-bold-gray: #232F3E;
  --color-f5f5f7: #f5f5f7;
  --color-white-divider: #ededed;
}

body {
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.button {
  background-color: var(--color-bold-gray);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

@import url(header.css);
@import url(footer.css);
@import url(home.css);