.filter-card {
  background-color: white;
  padding: 15px 10px 15px;
  box-shadow: 0 0 10px #0000001a;
}

.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #1c1c1b;
  margin-bottom: 20px;
}

.filter-card ul li {
  list-style-type: none;
  font-size: 14px;
  line-height: 30px;
  color: #777777;
  cursor: pointer;
}

.sub-title {
  font-size: 14px;
  font-weight: 600;
  color: #1c1c1b;
  margin-bottom: 15px;
  margin-top: 15px;
}

.sub-title:not(:first-child) {
  font-size: 14px;
  font-weight: 600;
  color: #1c1c1b;
  margin-bottom: 15px;
  margin-top: 30px;
}

.checkbox-item {
  color: #777777;
}

.colors {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.colors li {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.random-products h5 {
  font-size: 14px;
  margin-bottom: 5px;
}

.random-products .stars {
  margin-bottom: 5px;
}

.random-products:not(:first-child) {
  border-bottom: 1px solid #ededed;
  margin-top: 20px;
}

.filter-sort-grid {
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
}

.grid img {
  width: 35px;
  height: 35px;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 5px;
}